{% from "components/desk-items/_button.njk" import deskButton %}
{% call deskButton("modal-roblox", "Roblox experience") %}
<div class="r6-wrap">
  <div class="r6">
    <div class="r6-head"></div>
    <div class="r6-body-row">
      <div class="r6-arm r6-arm-l"></div>
      <div class="r6-torso"></div>
      <div class="r6-arm r6-arm-r"></div>
    </div>
    <div class="r6-leg-row">
      <div class="r6-leg"></div>
      <div class="r6-leg"></div>
    </div>
  </div>
</div>
{% endcall %}
