{% from "components/modals/_base.njk" import modal %}
{% call modal("modal-about", "About me", darkClose=true) %}
<div class="big-note">
  <h2 class="big-note-h">About Me</h2>
  <p>Hi! I&rsquo;m Eric. I was a software engineer on the App and Growth teams at Roblox &mdash; I joined when there were about 800 people and left when there were 2500. I'm looking for an opportunity to join a smaller team where I can more directly impact the product.</p>
  <p> I loved being at Roblox. I got to learn from and work with the smartest people I've ever met. It was awesome to work on something that so many users loved. </p>
  <p> I left because I wanted to join or start a startup. Unfortunately those plans were delayed when I crashed my car :&lt. I'm all recovered now! I've been traveling and enjoying some rest. I used the downtime to work on other projects I've wanted to tackle forever: AI agents to support vibecoders, IRL games, and some math projects.</p>
  <p>I like working close to users, shipping fast, and feeling like my work has a real impact on people.</p>
  <p> In my free time I like to travel, swim, and check out art museums</p>

  <div class="about-scrapbook">
    <figure class="about-scrap" style="--rot: -4deg">
      <img src="static/Hike.jpeg" alt="Hiking outdoors">
    </figure>
    <figure class="about-scrap" style="--rot: 3deg">
      <img src="static/Pyramids.jpeg" alt="The Pyramids">
    </figure>
  </div>
</div>
{% endcall %}
