{% from "components/modals/_base.njk" import modal %}
{% call modal("modal-cal", "UC Berkeley research", darkClose=true) %}
<div class="diploma">
  <div class="diploma-border">
    <div class="diploma-inner">
      <p class="dip-university">University of California, Berkeley</p>
      <div class="dip-rule"></div>
      <p class="dip-year">Class of 2021</p>
      <div class="dip-rule"></div>
      <div class="dip-honors">
        <p class="dip-honors-title">Side Quests</p>
        <p><strong>Gene Sequencing</strong> &mdash; Researched more performant DNA sequencing techniques to enable bulk analysis. Worked on a memory-efficient bloom filter implementation.</p>
        <p><strong>PublicEditor</strong> &mdash; Created a tool to identify and label misinformation. Designed an annotator-consensus framework that is still used in academic research.</p>
      </div>
      <div class="dip-rule"></div>
      <div class="dip-honors dip-extracurriculars">
        <p class="dip-honors-title">Fun Stuff</p>
        <p>D1 Triathlete &middot; Mentor at Local Middle School &middot; Event Organizer</p>
      </div>
    </div>
  </div>
</div>
{% endcall %}
